In [1]:
LABELED_DISAST_DATA_PATH = '../data/disaster_labeled.csv'
LABELED_NONDISAST_DATA_PATH = '../data/non-disaster_labeled.csv'
ORIGIN_TRAIN_DATA_PATH = '../data/train.csv'
ORIGIN_TEST_DATA_PATH = '../data/test.csv'

In [2]:
import pandas as pd

In [16]:
df = pd.read_csv(LABELED_DISAST_DATA_PATH, encoding='euc-kr')
df.head()

,idx,keyword,text,label,Unnamed: 4,Unnamed: 5
0,0,dogecoin%20shib%20shibarmy%20africa%20starving...,fair economy work hard yeah suredogecoin shib...,0,(의논필요)?,체르노빌을 아직까지도 영향을 주어 특정 버섯은 더이상 먹지 못한다-> 재난?/ 중국...
1,1,hungry%20starving%20ethiopian%20african%20mcdo...,Gaming rn and I have to say that gaming really...,0,(외래어)-1,위와 같은 레파토리 + 그 사람들을 돕기위해 모금해주세요 ->재난아님
2,2,conspiracytheories%20exposed%20starving%20chil...,Loserfruit Forgot the hashtags conspiracytheor...,0,NaN,NaN
3,3,lennyhenry%20rednoseday%20clone%20liveaid%20st...,Remember when LennyHenry and Co set up RedNose...,0,NaN,NaN
4,4,europe%20africa%20europeans%20africans%20starv...,Europeans Africans are starving europe africa...,0,NaN,NaN

In [17]:
# df.drop(labels='Unnamed: 4', axis=1, inplace=True)
df.drop(labels=['Unnamed: 5', 'Unnamed: 4', 'idx'], axis=1, inplace=True)
df.rename(columns={"label": "target"}, inplace=True)

In [5]:
df

,keyword,text,target
0,dogecoin%20shib%20shibarmy%20africa%20starving...,fair economy work hard yeah suredogecoin shib...,0
1,hungry%20starving%20ethiopian%20african%20mcdo...,Gaming rn and I have to say that gaming really...,0
2,conspiracytheories%20exposed%20starving%20chil...,Loserfruit Forgot the hashtags conspiracytheor...,0
3,lennyhenry%20rednoseday%20clone%20liveaid%20st...,Remember when LennyHenry and Co set up RedNose...,0
4,europe%20africa%20europeans%20africans%20starv...,Europeans Africans are starving europe africa...,0
...,...,...,...
395,nuclear%20solar,guardian Go nuclear and solar,0
396,nuclear,It is beginning nuclear,0
397,nuclear,GB Grid Nuclear is generating 397GW 1759 out o...,0
398,taiwan%20usa%20nuclear%20bribe%20nuclearwaste%...,Taiwan separatists are US puppets USA built th...,0
399,eu%20nuclear,Is Nuclear Energy Green Energy 10 EU Countries...,0

In [18]:
df.to_csv("./data/labeled_disaster_data.csv")

In [19]:
df = pd.read_csv(LABELED_NONDISAST_DATA_PATH, encoding='euc-kr')
df

,index,keyword,text,label
0,0,live%20laugh%20love%20repeat%20purposedrivenli...,She understood the assignment No job just Purp...,0
1,1,houselovers%20fm%20love%20house%20radio%20hous...,Now live Chromeo Jealous Solidisco Remix ...,0
2,2,kindness%20love%20humanity,Kindness kindness love humanity,0
3,3,love%20god%20bible,Was then that which is good made death unto me...,0
4,4,friendshipcollar%20bff%20cats%20cat%20catlover...,handsome boy mauithecanadiantabby friendshipc...,0
...,...,...,...,...
395,395,mondaymotivation%20hustle%20hustlequotes%20goa...,Take small steps every day to achieve your goa...,0
396,396,hustle,8 Now theres no hate here I enjoy the hustle m...,0
397,397,hustle%20grindset,New week same me hustle grindset,0
398,398,motivationmonday%20motivation%20motivationalqu...,New motivational video out Life_ a challenge ...,0
399,399,numidaquote%20hustle%20mondaymotivation%20unse...,NumidaQuote The best preparation for tomorrow ...,0

In [20]:
df.drop(labels='index', axis=1, inplace=True)
df.rename(columns={"label": "target"}, inplace=True)
df

,keyword,text,target
0,live%20laugh%20love%20repeat%20purposedrivenli...,She understood the assignment No job just Purp...,0
1,houselovers%20fm%20love%20house%20radio%20hous...,Now live Chromeo Jealous Solidisco Remix ...,0
2,kindness%20love%20humanity,Kindness kindness love humanity,0
3,love%20god%20bible,Was then that which is good made death unto me...,0
4,friendshipcollar%20bff%20cats%20cat%20catlover...,handsome boy mauithecanadiantabby friendshipc...,0
...,...,...,...
395,mondaymotivation%20hustle%20hustlequotes%20goa...,Take small steps every day to achieve your goa...,0
396,hustle,8 Now theres no hate here I enjoy the hustle m...,0
397,hustle%20grindset,New week same me hustle grindset,0
398,motivationmonday%20motivation%20motivationalqu...,New motivational video out Life_ a challenge ...,0
399,numidaquote%20hustle%20mondaymotivation%20unse...,NumidaQuote The best preparation for tomorrow ...,0

In [21]:
df.to_csv('./data/labeled_nondisaster_data.csv')

In [10]:
df = pd.read_csv(ORIGIN_TRAIN_DATA_PATH)
df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [11]:
df.drop(labels='id', axis=1, inplace=True)
df.drop(labels='location', axis=1, inplace=True)
df

     keyword                                               text  target
0        NaN  Our Deeds are the Reason of this #earthquake M...       1
1        NaN             Forest fire near La Ronge Sask. Canada       1
2        NaN  All residents asked to 'shelter in place' are ...       1
3        NaN  13,000 people receive #wildfires evacuation or...       1
4        NaN  Just got sent this photo from Ruby #Alaska as ...       1
...      ...                                                ...     ...
7608     NaN  Two giant cranes holding a bridge collapse int...       1
7609     NaN  @aria_ahrary @TheTawniest The out of control w...       1
7610     NaN  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...       1
7611     NaN  Police investigating after an e-bike collided ...       1
7612     NaN  The Latest: More Homes Razed by Northern Calif...       1

[7613 rows x 3 columns]

In [12]:
df.to_csv('./data/origin_train.csv')

In [13]:
df = pd.read_csv(ORIGIN_TEST_DATA_PATH, encoding='utf-8')
df

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [14]:
df.drop(labels=['id', 'location'], axis=1, inplace=True)
df

     keyword                                               text
0        NaN                 Just happened a terrible car crash
1        NaN  Heard about #earthquake is different cities, s...
2        NaN  there is a forest fire at spot pond, geese are...
3        NaN           Apocalypse lighting. #Spokane #wildfires
4        NaN      Typhoon Soudelor kills 28 in China and Taiwan
...      ...                                                ...
3258     NaN  EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259     NaN  Storm in RI worse than last hurricane. My city...
3260     NaN  Green Line derailment in Chicago http://t.co/U...
3261     NaN  MEG issues Hazardous Weather Outlook (HWO) htt...
3262     NaN  #CityofCalgary has activated its Municipal Eme...

[3263 rows x 2 columns]

In [15]:
df.to_csv('./data/origin_test.csv')